@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');
body {

    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.light {
    background-image: url(../src/assets/background/light-mode-background.png);
    // background-color: #00e7ff;
    background-size: cover;

}

.dark {
    background-image: url(../src/assets/background/dark-mode-background.png);
    olor: white;
    background-size: cover;
    // background-color: #101010;
}
