
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap');



body {

    font-family: 'Roboto', sans-serif;
}

.light {
    background-image: url(../src/assets/background/light-mode-background.png);
    // background-color: #00e7ff;
}

.dark {
    background-image: url(../src/assets/background/dark-mode-background.png);
    // background-color: #101010;
}

// // #light .body
// .App #light {
//     // background: url(../../assets/background/light-mode-background.png);
//     background-color: #00e7ff;
// }

// // #dark .body 
// .App #dark {
//     // background: url(../../assets/background/dark-mode-background.png);
//     background-color: #101010;
// }

// .page {
//     // background-color: #ddd;
//     height: 1000px;
//     margin: 2rem auto;
//     max-width: 1000px;
//     padding: 20px;

//     & h1 {
//         margin-bottom: 10px;
//         text-decoration: underline;
//     }
// }