<<<<<<< HEAD
img{
    width: auto;
    height: 150px;
}
.founders{
    display: flex;
    
}
=======
.light {
    background-image: url(../../assets/background/pages-light-background.png) !important;
    background-size: cover;
   }
  
.dark {
    background-image: url(../../assets/background/pages-dark-background.png) !important;
    color: white;
    background-size: cover;
   }
>>>>>>> main
