img {
    width: auto;
    height: 150px;
}
.founders{
    display: flex;
    
}

.light {
    background-image: url(../../assets/background/pages-light-background.png) !important;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2800px;

   }
  
.dark {
    background-image: url(../../assets/background/pages-dark-background.png) !important;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2800px;
   }


