.artContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    & img{
        height: auto;
        width: 300px;
        padding: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    & h2{
        display: block;
        text-align: center;
    }
}

.artInfo {
    margin-top: 2rem;
}

button {
    background-color: #e2b808;
    border: none;
    color: white;
    display: inline;
    font-size: 16px;
    padding: 15px 30px;
    margin: 20px;
}

button:hover {
    background-color: #e2b808;
    transform:scale(1.25, 1.25)

}

.light {
    background-image: url(../../assets/background/pages-light-background.png) !important;
    background-size: cover;
   }
  
.dark {
    background-image: url(../../assets/background/pages-dark-background.png) !important;
    color: white;
    background-size: cover;
   }