// body {
//     background-image: url(../../assets/background/light-mode-background.png);
//     background-size: cover;

//     & p {
//         text-align: center;
//         max-width: 50%;
//     }
// }

 .light {
    background-image: url(../../assets/background/light-mode-background.png) !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
   }
  
.dark {
    background-image: url(../../assets/background/dark-mode-background.png) !important;
    color: white;
    background-size: cover;
    min-height: 100vh;
   }

   .end {
      margin-bottom: 0;
  }


