.light {
    background-image: url(../../assets/background/ocean-light.png) !important;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2800px;
   }

.dark {
    background-image: url(../../assets/background/ocean-dark.png) !important;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2800px;
   }

   .fishsectionone {
    position: absolute;
    bottom: -235px;
    right: 560px;
 
 }
 
 .fishsectiontwo {
    position: absolute;
    bottom: -235px;
    right: 385px;
 
 }
 
 .fishsectionthree{
    position: absolute;
    bottom: -235px;
    right: 220px;
 }
 
 .fishsectionfour {
    position: absolute;
    bottom: -235px;
    right: 50px;
 }