
// .About {
//   background: url(../../assets/background/pages-light-background.png) no-repeat;
//   position: fixed;
//   // top: 0;
//   // left: 0;
//   // right: 0;
//   // bottom: 0;
//   // min-width: 100%;
//   // min-height: 100%;
//   background-size: cover;

//   & p {
//       text-align: center;
//       max-width: 50%;
//   }
// }



.flip-box{
  display :flex; 
  flex-direction:  row;
    
}
.flip-box-front{
    display: grid; 
}
.flip-box-back{
display: grid;
justify-content: center;

}

