.aboutImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.aboutH2{
  color:rgb(240, 200, 70);
 font-size:100px;
 }
 .aboutHF{
 font-size: 75px;
 color: white;
 margin-top: 100px;
 }

 .aboutScreen{
   display: flex;
   justify-content: center;
   justify-items: center;
 }
 .card1{
   background-repeat: none;
   grid-column: 1;
  }
 .card2{
   background-repeat: none;
   grid-column: 2;
 }
 .card3{
   background-repeat: none;
     grid-column: 3;
   }
 .card4{
   background-repeat: none;
     grid-column: 1;
     grid-row: 2;
   }
 .card5 {
   background-repeat: none;
     grid-column: 2;
     grid-row: 2;
   }
 .card6  {
   background-repeat: none;
     grid-column: 3;
     grid-row: 2;
   }
 .devInfo{
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
 }

.light {
  background-image: url(../../assets/background/pages-light-background.png) !important;
  background-size: cover;
 }

 .dark {
  background-image: url(../../assets/background/pages-dark-background.png) !important;
  color: white;
  background-size: cover;
 }