.aboutImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.aboutH2{
  color:rgb(240, 200, 70);
 font-size:100px;
 }
 .aboutHF{
 font-size: 75px;
 color: white;
 margin-top: 100px;
  }
  #2{
    background-color: black;
  }

 .aboutScreen{
   display: flex;
   justify-content: center;
   justify-items: center;
 }


.light {
  background-image: url(../../assets/background/pages-light-background.png) !important;
  background-size: cover;
 }

 .dark {
  background-image: url(../../assets/background/pages-dark-background.png) !important;
  color: white;
  background-size: cover;
  &
  .card{
    background-color: black!important; 
  }
 }
 